html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: 'Comfortaa', cursive;
}

.column h1 {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 0.3em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.tech-stack .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // background: rgba(0, 0, 0, 0.2);
  margin: 0.1em;
  text-align: center;

  i {
    font-size: 4rem;
    margin-bottom: 0.1em;
  }

  svg {
    height: 3.7em;
  }

  p {
    padding: 0 0.5em;
  }
}

.kb-spacer {
  margin-bottom: 2rem;
}

.kb-stack-section {
  font-size: 2rem;
  padding: 0 0.5em 0.5em;
  font-weight: 700;
}

.greenkeeper {
  fill: #00c775;
}

.ach,
.lodash,
.devicon-github-plain-wordmark.colored {
  fill: currentColor;
  color: currentColor;
}

.is-128x173 {
  width: 128px;
  height: 173px;
}

.kb-card-social {
  font-size: 2em;
  width: 1.3em;
  height: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 95%;
    height: 95%;
    fill: currentColor;

    &.dribble {
      width: 75%;
      height: 75%;
    }
  }
}

.kb-kibibit {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.1em;
}

.kb-contributor {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;

  img {
    margin-bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
  }
}

.kb-achievment-banner {
  align-items: center;
  text-align: center;
  // background: transparent !important;
  // color: white !important;
  width: 50%;
  margin: 9em auto 0;
}

.kb-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8em;

  svg {
    transform: translate3d(-0.4em, 0.6em, 0);
    width: 6em;
    margin-bottom: 0.5em;
    fill: white;
  }

  .kb-achievement-name {
    font-size: 0.8em;
    position: relative;
    z-index: 3;
    color: white;
    margin: 0 2em 1.2em;

    .text {
      padding: 0.5em;
      position: relative;
      z-index: 3;
    }

    .extra {
      position: absolute;
      width: 1em;
      bottom: -0.6em;
      z-index: 1;
      border: 1em solid hsl(217, 71%, 53%);

      &.left {
        border-left-color: transparent;
        transform: translateX(-100%);
        left: 0.6em;
      }

      &.right {
        border-right-color: transparent;
        transform: translateX(100%);
        right: 0.6em;
      }
    }

    .shadow {
      position: absolute;
      bottom: 0;
      z-index: 2;
      border: 0.6em solid transparent;

      &.left {
        border-right-color: #043140;
        transform: translate3d(-50%, 50%, 0);
        left: 0;
      }

      &.right {
        border-left-color: #043140;
        transform: translate3d(50%, 50%, 0);
        right: 0;
      }
    }
  }
}

.kb-white {
  fill: white;
  color: white;
}

.axe {
  fill: hsl(48, 100%, 67%);
}

.kb-logo-move {
  transform: translate3d(-10%, 0, 0);
}

.kb-achievibit-name {
  font-family: 'Press Start 2P', cursive !important;
  font-size: 1em !important;
}